{% extends 'base.html' %}
{% block content %}
                    <!-- rrftt -->
                    <div class="max-w-md mx-auto bg-white p-8 rounded shadow">

                        <h2 class="text-2xl font-semibold mb-6">Survey Form</h2>
                
                        
                        <div class="mb-4">
                            <label class="block text-gray-700 mb-2" for="q3">Question 1: What is your Name?</label>
                            <input type="text" id="q3" name="q3" class="border rounded w-full px-3 py-2">
                        </div>
                
                        <div class="mb-4">
                            <label class="block text-gray-700 mb-2" for="q1">Question 2: Please tell your gender?</label>
                            <input type="checkbox" id="q1" name="q1" class="mr-2"> Male
                            <input type="checkbox" id="q1" name="q1" class="mr-2"> Female
                            <input type="checkbox" id="q1" name="q1" class="mr-2"> Others
                        </div>
                
                         
                        <div class="mb-4">
                            <label class="block text-gray-700 mb-2" for="q4">Question 3: How about your age?</label>
                            <textarea id="q4" name="q4" class="border rounded w-full px-3 py-2"></textarea>
                        </div>
                
                        <div class="mb-4">
                            <label class="block text-gray-700 mb-2" for="q4">Question 4: What do you do in free time?</label>
                            <textarea id="q4" name="q4" class="border rounded w-full px-3 py-2"></textarea>
                        </div>
                
                        <div class="mb-4">
                            <label class="block text-gray-700 mb-2" for="q1">Question 5: Do you like Listening to music?</label>
                            <input type="checkbox" id="q1" name="q1" class="mr-2"> Yes
                            <input type="checkbox" id="q1" name="q1" class="mr-2"> No
                        </div>
                
                        <div class="mb-4">
                            <label class="block text-gray-700 mb-2" for="q2">Question 6: Which type of music do you like?</label>
                            <input type="checkbox" id="q2" name="q2" class="mr-2"> Pop
                            <input type="checkbox" id="q2a" name="q2" class="mr-2">Classical
                            <input type="checkbox" id="q2b" name="q2" class="mr-2"> Indie
                            <input type="checkbox" id="q2b" name="q2" class="mr-2"> Jazze
                
                            <div class="mb-4">
                                <label class="block text-gray-700 mb-2" for="q1">Question 7: Do you have any disease or are you under any medication?</label>
                                <input type="checkbox" id="q1" name="q1" class="mr-2"> Yes
                                <input type="checkbox" id="q1" name="q1" class="mr-2"> No
                            </div>
                
                            <div class="mb-4">
                                <label class="block text-gray-700 mb-2" for="q4">Question 8: Please specify that.</label>
                                <textarea id="q4" name="q4" class="border rounded w-full px-3 py-2"></textarea>
                            </div> 
                            
                
                    
                       <a href="/dashboard"> <button class="bg-blue-500 text-white px-4 py-2 rounded mt-4">Submit</button></a>
                
                    </div>
                
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
        function data() {
          
            return {
               
                isSideMenuOpen: false,
                toggleSideMenu() {
                    this.isSideMenuOpen = !this.isSideMenuOpen
                },
                closeSideMenu() {
                    this.isSideMenuOpen = false
                },
                isNotificationsMenuOpen: false,
                toggleNotificationsMenu() {
                    this.isNotificationsMenuOpen = !this.isNotificationsMenuOpen
                },
                closeNotificationsMenu() {
                    this.isNotificationsMenuOpen = false
                },
                isProfileMenuOpen: false,
                toggleProfileMenu() {
                    this.isProfileMenuOpen = !this.isProfileMenuOpen
                },
                closeProfileMenu() {
                    this.isProfileMenuOpen = false
                },
                isPagesMenuOpen: false,
                togglePagesMenu() {
                    this.isPagesMenuOpen = !this.isPagesMenuOpen
                },
               
            }
        }
    </script>
    <script>
        var chart = document.querySelector('#chartline')
        var options = {
            series: [{
                name: 'TEAM A',
                type: 'area',
                data: [44, 55, 31, 47, 31, 43, 26, 41, 31, 47, 33]
            }, {
                name: 'TEAM B',
                type: 'line',
                data: [55, 69, 45, 61, 43, 54, 37, 52, 44, 61, 43]
            }],
            chart: {
                height: 350,
                type: 'line',
                zoom: {
                    enabled: false
                }
            },
            stroke: {
                curve: 'smooth'
            },
            fill: {
                type: 'solid',
                opacity: [0.35, 1],
            },
            labels: ['Dec 01', 'Dec 02', 'Dec 03', 'Dec 04', 'Dec 05', 'Dec 06', 'Dec 07', 'Dec 08', 'Dec 09 ',
                'Dec 10', 'Dec 11'
            ],
            markers: {
                size: 0
            },
            yaxis: [{
                    title: {
                        text: 'Series A',
                    },
                },
                {
                    opposite: true,
                    title: {
                        text: 'Series B',
                    },
                },
            ],
            tooltip: {
                shared: true,
                intersect: false,
                y: {
                    formatter: function(y) {
                        if (typeof y !== "undefined") {
                            return y.toFixed(0) + " points";
                        }
                        return y;
                    }
                }
            }
        };
        var chart = new ApexCharts(chart, options);
        chart.render();
    </script>
    <script>
        var chart = document.querySelector('#chartpie')
        var options = {
            series: [44, 55, 67, 83],
            chart: {
                height: 350,
                type: 'radialBar',
            },
            plotOptions: {
                radialBar: {
                    dataLabels: {
                        name: {
                            fontSize: '22px',
                        },
                        value: {
                            fontSize: '16px',
                        },
                        total: {
                            show: true,
                            label: 'Total',
                            formatter: function(w) {
                                // By default this function returns the average of all series. The below is just an example to show the use of custom formatter function
                                return 249
                            }
                        }
                    }
                }
            },
            labels: ['Apples', 'Oranges', 'Bananas', 'Berries'],
        };
        var chart = new ApexCharts(chart, options);
        chart.render();
    </script>
    {% endblock %}